# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Custom
resources/

# Firebase credentials
firebase-service-account.json
config/firebase-service-account.json
*.json

# Log files
logs/
*.log
"""